{% extends 'project/base.html' %}
{% load static %}

{% block content %}

<div class="hero-unit">
    <form class="navbar-form" id="item_add" method="post" action="{% url 'item_add' %}">
        {% csrf_token %}
    
        <input type="text" placeholder="Starbucks coffee" name="item" />
        <br>

        <div class="input-append">
        <input type="text" class="input-small" placeholder="140.00" name="price"><span class="add-on">руб.</span>
        </div>

        <div class="input-append date" id="datepicker" data-date="" data-date-format="dd-mm-yyyy">
                <input class="span2" id="dp_input" size="16" type="text" value="" readonly>
                <span class="add-on"><i class="icon-calendar"></i></span>
              </div>
        <br>
        <button class="btn btn-primary" type="submit" name="submit">Add</button>
    </form>
</div>

<div class="row">
    <div class="span9">
        <h2>Last Five Items</h2>
        <div id="items">
            {% if item_list %}
            <table class="table">
                <tr>
                    <td>Name</td>
                    <td>Price</td>
                    <td>Date</td>
                    <td>Categories</td>
                </tr>

                {% for item in item_list %} 
                <tr>
                    <td>{{ item.name }}</td>
                    <td>{{ item.price }}</td>
                    <td>{{ item.date }}</td>
                    <td>{{ item.get_category_list }}</td>
                </tr>
                {% endfor%}

            </table>
            {% else %}
            <strong>No items at present.</strong>
            {% endif %}
        </div>

    </div>
    <!--/span-->
</div>
<!--/row-->

{% endblock%}

{% block script %}
      <script src="{% static 'js/bootstrap-datepicker.js' %}"></script>
      <script>
            if (top.location != location) {
                top.location.href = document.location.href ;
            }
            $(function(){
                $("#datepicker").datepicker()
                  .on('show', function(ev){                 
                      var today = new Date();
                      var t = today.getDate() + "-" + today.getMonth()-1 + "-" + today.getFullYear();
                      $('#datepicker').data({date: t}).datepicker('update');
                  });

                $("#datepicker").datepicker('update', new Date());
            });
      </script>
{% endblock %}